<div class="actor-item">
   <div class="inline details">
     <p><%= link_to actor.name, actor %></p>
      <p><%= actor.age %></p>
      <p><%= actor.country %></p>
      <p><%= actor.bio %></p>
   </div>
</div>
