<h1>Novad</h1>

<a href="<%= actors_path %>"><div class="nav-box actors"><h2>Actors</h2></div>'</a>
<a href="<%= movies_path %>"><div class="nav-box movies"><h2>Movies</h2></div>'</a>
<a href="<%= genres_path %>"><div class="nav-box genres"><h2>Genres</h2></div>'</a>
