@import "bootstrap-sprockets";
@import "bootstrap";

img.small-cover {
  width: 200px;
  height: 300px;
}

div.inline {
  display: inline-block;
  vertical-align: text-top;
}

div.movie-item {
  margin-top: 14px;
  margin-left: 40px;
}

  .cover {
    margin-right: 10px;
  }
  .details {
    width: 800px;
  }

img.cover {
  width: 400px;
  height: 600px;
}

div#main {
  margin: 100px;
}

.navbar-default {
  -webkit-transition: all .8s;
  -moz-transition: all .80s;
  transition: all .80s;
  padding: 15px 0;
  margin-bottom: 0;
}

.navbar-fixed-top {
  border: 4px solid transparent;
  padding: 5px 0;
}
// 
// header {
//   padding: 300px;
//   text-align: center;
//   background-image: url(https://unsplash.it/800?image=974
// );
//   background-position: center;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   background-size: cover;
//   -o-background-size: cover;
// }
//
// header h1 {
//   color: white;
//   font-size: 2em;
// }
